$mainFont: 'Verdana', 'Tahoma', 'sans-serif';
$myFont: 'Raleway', sans-serif;
$cover: rgba(159, 244, 255, 0.26);    //Цвет для покрывала
$hoverColor: rgb(194, 248, 255);      //Цвет для срабатывания при наведении
$activColor: rgb(97, 237, 255);       //Цвет для активации элемента
$contentColor: rgb(42, 45, 94);